#main_nav {
    width: 100%;
    display: flex;
    /* justify-items: center; */
    margin: auto;
    /* background-color: red; */
    justify-content: space-between;
}

#home {
    height: 100px;
    /* padding-top: 7px; */
    /* margin-right: 15%; */
    /* background-color: green; */

}

.home_data {
    color: rgb(0, 145, 160);
    /* text-decoration: none; */
}

.name_link {
    text-decoration: none;
}

/* .home_data:hover {
    border-bottom: 2px solid rgb(0, 145, 160);
} */

#menu {
    /* background-color: blue; */
    font-family: 'Crimson Text', serif;
    /* width: 22%; */
    /* min-width: fit-content; */
    /* margin: auto; */
    /* margin-left: calc(50% - 30.5%); */
    /* align-self: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-left: calc(0% - 11%);
    /* background-color: green !important; */
}

#menu>ul {
    border-bottom: none;
    background-color: transparent !important;

}

.link {
    font-weight: 400;
    font-size: 140%;
    color: rgb(0, 145, 160);
}


.social-icons {
    /* background-color: green; */
    /* display: flex;
    justify-items: center;
    text-align: center; */
    /* margin: auto; */
    /* padding: auto; */
    /* margin-left: 5px; */
}

.icon_list {
    /* background-color: rgb(214, 212, 212); */
    height: 40px;
    /* width: 10%; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

li {
    display: inline;
    flex-grow: 1;
    /* Allow items to grow equally */
    text-align: center;
    /* Center text inside li */
}

/* Adjust margin as needed */
li:not(:last-child) {
    margin-right: 10px;
    /* Example margin */
}

.social_links {
    transition: margin-top 0.3s ease;
    font-size: 130%;
    /* list-style-type: none; */
    display: inline;
}

.icon-svg {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    transition: margin-top 0.3s;

}

/* .icon-svg-git:hover {
    margin-top: -5px;

} */

/* .icon-svg-linkd:hover {
    margin-top: -5px;
} */

.social_links:hover {
    margin-top: -3px !important;
    /* background-color: rgb(0, 145, 160); */
    /* color: aqua !important; */
}




@keyframes icon-move {
    from {
        margin-top: 7px;
    }

    to {
        margin-top: 0px;
    }
}